
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

/*------------------------------ 
------ NAVIGATION BARS --------- 
------------------------------*/

.top-nav {
	text-align: right;
	padding: .8em 0;
	text-transform: uppercase;
	letter-spacing: .125em;
	background-color: white;
	color: black;
	font-weight: 300;
	opacity: .89;
	-webkit-transition: all .3s linear;
}

/*.top-nav:hover {
	background-color: #333;
	color: white;
}*/

.top-nav ul {
	margin: 0.3rem;
	padding: 0 10px;
}

.top-nav ul li {
	padding-bottom: 0.2em;
}

.top-nav ul li:hover {
	cursor: pointer;
}

.top-nav ul li.left {
	float: left;
	margin-left: 1.5rem;
}

.top-nav ul li,
.portfolio ul li,
.bottom-nav ul li {
	display: inline-block;
}

.top-nav ul li a,
.bottom-nav ul li a {
	text-decoration: none;
	color: inherit;
}

.top-nav .left {
	font-weight: 700;
	text-transform: uppercase;
}

.top-nav ul li,
.bottom-nav ul li {
	margin-right: 1.5rem;
}

.top-nav ul li:last-child {
	margin-right: 0;
}

/*------------------------------ 
------ HEADING/INTRO TEXT ------
------------------------------*/

.wrapper {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.about {
	padding: .5em 0;
	font-family: 'Antic Slab', 'Helvetica Neue', Arial, sans-serif;
	background-color: #2ecc71;
	color: white;
	text-align: center;
}

.about h2 {
	font-size: 2em;
}

.about p {
	font-size: 1.35em;
}

.about p > span {
	padding-bottom: 3px;
	border-bottom: 2px solid white;
	cursor: pointer;
}

.about a {
	text-decoration: none;
	color: inherit;
	padding-bottom: 3px;
	border-bottom: 2px solid white;
}

.intro {
	text-align: center;
	height: 31rem;
}

.intro h1 {
	margin: 0 auto;
	padding: 1.75em 0 .9rem;
	border-radius: 10px;
	font-size: 5rem;
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 600;
}

.intro h2 {
	margin: 0 auto;
	padding: .9rem;
	text-transform: uppercase;
    font-size: 2.5rem;
    font-family: 'Lato', Arial, serif;
}

#contact-info p {
	font-size: 2.1em;
	font-weight: 300;
	font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
	color: white;
	margin: 6.5em auto 0;
	padding-top: 2em;
}

.intro hr {
	width: 4.5rem;
	border: 2px solid black;
	text-align: center;
}

#phone, #email {
	display: inline-block;
	font-size: 2em;
	font-weight: 300;
	padding-top: 1em;
	color: #FFD802;
}

#contact-info {
	width: 100%;
	height: 14.5em;
	margin: 0 auto;
	margin-top: 12em;
	text-align: center;
	background-color: black;
}

#contact-options {
	width: 60%;
	margin: 0 auto;
	height: auto;
}

#phone {
	padding-right: 1em;
}

#email {
	padding-left: 1em;
}

/*------------------------------ 
---- PORTFOLIO INDEX PAGE  ----- 
------------------------------*/

.portfolio {
	padding: 4em 0 6em;
	text-align: center;
}

.portfolio ul li {
	width: 100%;
	padding: 0.5em;
	height: 16rem;
	background-color: #adadad;
	background-clip: content-box;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: .9;
	-webkit-transition: all .5s;
}

.portfolio ul li:hover {
	/*background-size: 170%;*/
	opacity: 1;
	cursor: pointer;
}

.portfolio hr {
	width: 4.5rem;
	border: 1px solid #000;
	margin-top: 0;
}

.portfolio ul .karma {
	background-image: url(../img/Karma-Screenshot.png);
}

.portfolio ul .nyt {
	background-image: url(../img/newyorktimeschallenge.png);
	background-position: top center;
}

.portfolio ul .hot-or-cold {
	background-image: url(../img/hot-or-cold.png);
} 

.portfolio ul .pokedex {
	background-image: url(../img/pokedex.png);
} 

.portfolio ul .shopping {
	background-image: url(../img/shopping-list.png);
} 

.portfolio ul .soccer-quiz {
	background-image: url(../img/soccer-quiz.png);
} 

.portfolio .portfolio-label {
	display: inline-block;
	font-family: 'Lato', Arial, serif;
	font-weight: 400;
}

.wrapper .image {
	display: inline-block;
	width: 33%;
	min-width: 270px;
}

.portfolio .wrapper p {
	margin: 0;
	font-family: 'Lato', 'Helvetica Neue', Arial, serif;
}

/*------------------------------ 
------ ABOUT ME PAGE ----------- 
------------------------------*/

.introduction {
	text-align: center;
	max-width: 100%;
}

#header-text {
	margin: 0 auto;
	width: 90%;
}

#header-text > h1 {
	margin: 0 auto;
	color: #18150e;
	padding: 1.75em 0 2em;
	text-align: center;
	font-size: 5em;
	font-family: 'Lato', 'Montserrat', Arial, sans-serif;
	font-weight: 600;
}

#header-text > h1.contact-page {
	padding-bottom: .5em;
}

.contact-text {
	font-family: 'Antic Slab', serif;
	font-size: 1.35em;
	line-height: 1.6em;
	margin: 0 auto 6em;
	width: 700px;
}

.contact-text a {
	text-decoration: none;
	color: #2ecc71;
}

.about-me, .favorites {
	display: inline-block;
	vertical-align: top;
}

.about-me {
	width: 50%;
	padding-right: 20px;
	font-family: 'Antic Slab';
	font-size: 1.3em;
	text-align: left;
}

.about-me h3, .favorites h3 {
	margin-top: 0;
}

.about-me > h3 {
	font-family: 'Lato';
	text-transform: uppercase;
	font-size: .92em;
}

.about-me p {
	font-size: 1.1em;
	line-height: 2em;
}

.favorites {
	width: 35%;
	min-width: 356.297px;
	padding-right: 40px;
	text-align: left;
	text-transform: uppercase;
	font-weight: 300;
}

.favorites > ul {
	margin: 0;
	padding: 0;
	border: 0;
}

.favorites ul li {
	margin-bottom: 10px;
	-webkit-transition: all 1s linear;
}

/* might add this later
.favorites ul li:hover {
	color: white;
	background-color: blue;
}
*/

.favorites ul li span {
	font-size: 1.3em;
	vertical-align: baseline;
}

.skills {
	font-family: 'Lato';
}

.skills > h3 {
	margin-top: 2em;
}

.skills ul {
	list-style-type: circle;
}

/*------------------------------ 
------ PORTFOLIO PAGE ---------- 
------------------------------*/

.sample-portfolio {
	margin: 2em auto 9em;
	width: 90%;
}

.preview {
	margin: 0 auto;
	width: 65%;
}

.preview a {
	display: block;
}

.descript {
	display: block;
	margin: 0 auto;
	width: 65%;
	text-align: left;
	text-transform: uppercase;
	font-weight: 300;
}

.descript h2 {
	margin-bottom: 12px;
	font-weight: 500;
	font-size: 1.5em;
}

.summary {
	font-family: 'Lato', 'Montserrat', Arial, sans-serif;
	margin: 0 auto 4em;
	width: 65%;
}

.summary div.info {
	display: block;
	margin: 0 auto;
}

.info div {
	padding: 0 40px 0 20px;
}

.info div:first-child {
	padding: 0 20px 0 0;
}

.info div:last-child {
	padding: 0;
}

.summary div {
	display: inline-block;
	vertical-align: top;
	margin: 1em auto 0;
}

.summary h2 {
	font-size: .9em;
	font-weight: 300;
	text-transform: uppercase;
	color: #9197a3;
	margin: 0 auto;
}

.summary li, 
.summary p {
	margin-top: .5em;
	display: inline-block;
	font-family: 'Lato';
	font-size: 1.23em;
	font-weight: 300;
}

div.summary-text {
	margin-top: 1.5em;
}

.summary-text p {
	font-family: 'Antic Slab', sans-serif;
}

#hot-or-cold {
	background-image: url(../img/hot-or-cold.png);
}

#pokedex {
	background-image: url(../img/pokedex.png);
}

#karma {
	background-image: url(../img/Karma-Screenshot.png);
}

#new-york {
	background-image: url(../img/newyorktimeschallenge.png);
}

img {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #c3c8Ca;
	padding: 5px;
	border-radius: 2px;
}


/*------------------------------ 
----------- FOOTER ------------- 
------------------------------*/

.social {
	padding: 1em 0;
	background-color: #333;
	color: white;
	text-align: center;
}

ul.icons {
	margin: 0;
	padding: 1em 0 0;
}

.icons li {
	display: inline-block;
	width: 2.45rem;
	height: 2.45rem;
	padding-top: 8px;
	margin: 0 .5em;
	border: 1px solid white;
	border-radius: 50%;
	background-color: white;
	color: black;
	-webkit-transition: all .15s linear;
}

.icons li:hover {
	background-color: white;
	color: black;
}

.social p {
	margin: 0 0 1.5rem;
	color: #fff;
	font-family: 'Lato', 'Helvetica Neue', Arial, serif;
	font-size: .9rem;
}

.social a {
	text-decoration: none;
	color: white;
}

.social span {
	color: white;
}

.bottom-nav {
	padding: .8em 0;
	margin: 2rem 0 4em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .125em;
	font-weight: 300;
}

.bottom-nav div {
	margin-top: 2rem;
}

.bottom-nav p {
	display: inline-block;
	margin-top: 1em;
	padding-left: 20px;
	color: #f4c22d;
}

.bottom-nav p:first-child {
	padding: 0 20px 0 0;
}

/*------------------------------ 
------ INTERACTION STYLES ------ 
------------------------------*/

.underline {
	position: relative;
}

.underline:after {
	display: block;
	position: absolute;
	width: 0;
	height: 1px;
	left: 0;
	bottom: -10px;
	content: "";
	background-color: #222;
	transition: width .2s;
}

.underline:hover:after {
	width: 100%;
}

/*------------------------------ 
------ RESPONSIVE DESIGN ------- 
------------------------------*/

@media (max-width: 955px) {
	.portfolio div {
		width: 50%;
	}
}

@media (max-width: 870px) {
	.preview {
		width: 92%;
		margin: 0 auto;	
	}

	.descript:not(.descript:last-child) {
		margin: 0 auto 5em;
		text-transform: none;
	}

	.descript > h2 {
		font-size: 1.2em;
		text-align: center;
		margin-bottom: 2em;
	}

	.summary {
		display: none;
	}
}

@media (max-width: 719px) {
	.skills ul {
		position: relative;
		left: 20px;
		padding: 0;
	}

	.about-me {
		width: 90%;
	}

	.about-me h3 {
		margin-top: 2em;
		text-align: center;
	}

	.about-me p {
		font-size: .9em;
	}

	.contact-text {
		width: 90%;
		font-size: 1.1em;
	}

	#header-text .contact-page {
		font-size: 3.5em;
	}
}

@media (max-width: 680px) {
	.top-nav ul li.left {
		float: none;
		display: block;
		margin: 0 auto .8em;
		text-align: center;
	}

	.top-nav ul {
		text-align: center;
	}

	.underline:after {
		display: none;
	}

	.intro {
		height: 23rem;
	}

	.intro h1 {
		padding-top: 1.2em;
		font-size: 3.5em;
	}

	.intro h2 {
		font-size: 2rem;
	}
}

@media (max-width: 655px) {

	.portfolio div {
		width: 22em;
	}
}

@media (max-width: 536px) {
	.bottom-nav p,
	.bottom-nav p:first-child,
	.bottom-nav ul li {
		display: block;
		text-align: center;
		padding: 0;
		margin: 1em auto;
	}

	.bottom-nav ul li {
		margin: 1em auto;
		font-size: .9rem;
	}

	.icons li {
		width: 2.3rem;
		height: 2.3rem;
		padding-top: 6px;
	}
}

@media (max-width: 460px) {

	.top-nav ul li:not(.left) {
		font-size: .8em;
	}

	#header-text > h1,
	.intro > h1,
	.intro > h2 {
		font-size: 3.5em;
		padding-bottom: 1em;
	}

	.favorites,
	.skills {
		display: none;
	}

	.intro {
		height: 18rem;
	}

	.intro > h1 {
		font-size: 2.5em;
		padding-bottom: .35em;
	}

	.intro hr {
		border: 1px solid black;
	}

	.intro > h2 {
		font-size: 1.7em;
	}

	.about h2 {
		font-size: 1.7em;
	}

	.about p {
		font-size: 1em;
	}
}



